<a href="https://colab.research.google.com/github/starziki/starziki-git/blob/master/busan_cctv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive 
drive.mount('/content/gdrive')#자신의 구글드라이브로 연결

import os
os.chdir('/content/gdrive/My Drive/데이터 주무르기 부산으로 적용') #해당 구글드라이브 디렉토리로 이동

import pandas as pd

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

http://27.101.213.4/  (행정안전부 주민등록인구통계)

인구통계는 다른 사이트들이 많으나, 찾은 것중에선 세부적으로 잘 나와 있음. 유아기 및 노령 인구별로 뽑을 생각이었으나 간단하게 총계로 감. 

https://www.data.go.kr/dataset/3075885/fileData.do  (부산광역시 CCTV 각구군별 CCTV 현황)

CCTV 소재지를 통해 구별로 모은 뒤에 구별로 세서 정리함.

해당 사이트에서 Down 후 구글드라이브의 루트폴더 밑에 ***데이터 주무르기 부산으로 적용***을 만들고 구글드라이브에서 업로드함

In [0]:
pop_df = pd.read_csv('201905_201905_연령별인구현황_월간.csv',encoding='euc-kr')
cctv_df = pd.read_csv('부산광역시_CCTV_20190128.csv',encoding='euc-kr',)

pop_df.drop([0], axis=0, inplace=True) #부산광역시 미리 총계 낸 값 삭제
pop_df

                       행정구역  ... 2019년05월_여_100세 이상
1     부산광역시 중구 (2611000000)  ...                 60
2     부산광역시 서구 (2614000000)  ...                 78
3     부산광역시 동구 (2617000000)  ...                 71
4    부산광역시 영도구 (2620000000)  ...                 90
5   부산광역시 부산진구 (2623000000)  ...                172
6    부산광역시 동래구 (2626000000)  ...                106
7     부산광역시 남구 (2629000000)  ...                 97
8     부산광역시 북구 (2632000000)  ...                 80
9   부산광역시 해운대구 (2635000000)  ...                109
10   부산광역시 사하구 (2638000000)  ...                117
11   부산광역시 금정구 (2641000000)  ...                154
12   부산광역시 강서구 (2644000000)  ...                 28
13   부산광역시 연제구 (2647000000)  ...                 57
14   부산광역시 수영구 (2650000000)  ...                 49
15   부산광역시 사상구 (2653000000)  ...                 61
16   부산광역시 기장군 (2671000000)  ...                 26

[16 rows x 40 columns]

In [0]:
pop_df['행정구'] = pop_df['행정구역'].str.split(' ', n=2, expand=True)[1] #구로 추출
pop_df=pop_df.set_index('행정구') #인덱스를 잡음
pop_df

                         행정구역  ... 2019년05월_여_100세 이상
행정구                            ...
중구      부산광역시 중구 (2611000000)  ...                 60
서구      부산광역시 서구 (2614000000)  ...                 78
동구      부산광역시 동구 (2617000000)  ...                 71
영도구    부산광역시 영도구 (2620000000)  ...                 90
부산진구  부산광역시 부산진구 (2623000000)  ...                172
동래구    부산광역시 동래구 (2626000000)  ...                106
남구      부산광역시 남구 (2629000000)  ...                 97
북구      부산광역시 북구 (2632000000)  ...                 80
해운대구  부산광역시 해운대구 (2635000000)  ...                109
사하구    부산광역시 사하구 (2638000000)  ...                117
금정구    부산광역시 금정구 (2641000000)  ...                154
강서구    부산광역시 강서구 (2644000000)  ...                 28
연제구    부산광역시 연제구 (2647000000)  ...                 57
수영구    부산광역시 수영구 (2650000000)  ...                 49
사상구    부산광역시 사상구 (2653000000)  ...                 61
기장군    부산광역시 기장군 (2671000000)  ...                 26

[16 rows x 40 columns]

In [0]:
cctv_df['소새지구']=cctv_df['소재지도로명주소'].str.split(' ',n=2,expand=True)[1] # 구로 추출
cctv_count=cctv_df['소새지구'].groupby(cctv_df['소새지구']).count() #구로 묶어서 개수를 셈

In [0]:
pop_df['cctv']=cctv_count #해당 index에 맞는 cctv의 개수를 위에 잡아놓은 인덱스로 넣음

In [0]:
pop_df['cctv']

행정구
중구       8
서구      12
동구      12
영도구     18
부산진구    39
동래구     55
남구      32
북구      24
해운대구    33
사하구     24
금정구     40
강서구     27
연제구     13
수영구     19
사상구     26
기장군     23
Name: cctv, dtype: int64

In [0]:
pop_df

                         행정구역 2019년05월_계_총인구수  ... 2019년05월_여_100세 이상 cctv
행정구                                            ...
중구      부산광역시 중구 (2611000000)          42,404  ...                 60    8
서구      부산광역시 서구 (2614000000)         109,820  ...                 78   12
동구      부산광역시 동구 (2617000000)          86,347  ...                 71   12
영도구    부산광역시 영도구 (2620000000)         118,790  ...                 90   18
부산진구  부산광역시 부산진구 (2623000000)         358,815  ...                172   39
동래구    부산광역시 동래구 (2626000000)         267,572  ...                106   55
남구      부산광역시 남구 (2629000000)         278,632  ...                 97   32
북구      부산광역시 북구 (2632000000)         293,362  ...                 80   24
해운대구  부산광역시 해운대구 (2635000000)         408,026  ...                109   33
사하구    부산광역시 사하구 (2638000000)         324,661  ...                117   24
금정구    부산광역시 금정구 (2641000000)         241,793  ...                154   40
강서구    부산광역시 강서구 (2644000000)         126,727  ...                 28   27
연제구    부산광역시 연제구 (2647000000)         210,226  ...                 57   13
수영구    부산광역시 수영구 (2650000000)         175,532  ...                 49   19
사상구    부산광역시 사상구 (2653000000)         221,872  ...                 61   26
기장군    부산광역시 기장군 (2671000000)         165,016  ...                 26   23

[16 rows x 41 columns]